body{
    margin: 0;
    padding: 0;
    border: 0;
}

.fon{
    min-width: 480px;
    min-height: 100vh;
    background: url("../assets/home.png") center/cover;
    background-blend-mode: multiply;
}

h1{
    color: aliceblue;
    text-align: center;
    margin: 0 auto 20px auto;
}

.ancientsCards{
    width: 150px;
    height: 200px;
    border-radius: 15px;
}

.selectAncient{
    border: 5px solid red;
}

.ancients{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.level{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.difficultyLevel{
    width: 120px;
    font-size: 20px;
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    border-radius: 8px;
}

.difficultyLevel:hover{
    border: solid 2px blue;
}

.selectLevel{
    background-color: brown;
    border: 2px solid red;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0px auto;
    font-size: 26px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
}

.start:hover{
    border: solid 2px blue;
}

.cards{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around

}

.desk{
    width: 140px;
    height: 210px;
    border-radius: 10px;
   
}

.deskReady{
    background: url("/assets/mythicCardBackground.png");
    background-size: cover;
}

.openCards{
    width: 140px;
    height: 210px; 
    border-radius: 10px;
    background-size: cover;
}

.error{
    display: none;
    align-items: center;
    margin: auto;
    color:azure
}

.showError{
    display:flex;
    justify-content: center;
}

.stage{
    opacity: 0;
margin-top: -15px;
}

.numberOfStage{
    color:aliceblue;
    text-align: center;
    font-size: 20px;
}

.stageNumberDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 24px;
}

.blueCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    font-size: 20px;
    color: aliceblue;
}

.brownCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: brown;
    font-size: 20px;
    color: aliceblue;
}


.greenCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: green;
    font-size: 20px;
    color: aliceblue;
}

.show{
    opacity: 1;
}